[submodule "sub-projects/gbis-gcc-configuration-artefacts"]
	path = sub-projects/gbis-gcc-configuration-artefacts
	url = https://git.risa.gov.rw/risa/risa-gcino-projects/risa-enterprise-architecture-division-projects/gbis/gbis-application-gcc/gbis-gcc-configuration-artefacts.git
[submodule "sub-projects/gbis-imihigo-connectors"]
	path = sub-projects/gbis-imihigo-connectors
	url = https://git.risa.gov.rw/risa/risa-gcino-projects/risa-enterprise-architecture-division-projects/gbis/gbis-imihigo-connectors.git
