[submodule "sub-projects/gbis-gcc-configuration-artefacts"]
	path = sub-projects/gbis-gcc-configuration-artefacts
	url = ./gbis-application-gcc/gbis-gcc-configuration-artefacts.git
[submodule "sub-projects/gbis-imihigo-connectors"]
	path = sub-projects/gbis-imihigo-connectors
	url = ./gbis-imihigo-connectors.git
